@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #BC59FF;
  --color-primary-bg: rgba(188, 89, 255, 0.1);
  --color-dark-bg: rgba(0, 0, 0, 0.8);
  --color-secondary: #7A09C6;
  --font-primary: "Jua", sans-serif;
  --font-secondary: "Klee One", cursive;
  --font-normal: "Telex", sans-serif;
  --font-title: "Jura", sans-serif;
}

@layer base {
  h1 {
    @apply font-title text-primary text-5xl
  }
}

@layer components {
  .btn-primary {
    @apply rounded-full bg-secondary px-5 py-2 text-white;
  }
}